@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import "tailwindcss";

.anta-regular{
    font-family: "Anta", serif;
    font-weight: 400;
    font-style: normal;
   
}
  